<template>
    <div>
        <div class="row">
            <div class="col-sm-12 text-right">
                <h5>{{account.user.username}}</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-right">
                <h5>{{pwaccount.pwaccount.amount}} PW</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-right">
                <router-link to="/login">Logout</router-link>
            </div>
        </div>
        <p/>
        <transaction-table></transaction-table>
    </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
    computed: {
        ...mapState({
            pwaccount: state => state.pwaccount,
            account: state => state.account,
            users: state => state.users.all,
        })
    },
    created () {
        this.getAllUsers();
        this.getPwaccount();
    },
    methods: {
        ...mapActions('users', {
            getAllUsers: 'getAll',
            deleteUser: 'delete'
        }),
        ...mapActions('pwaccount', {
            getPwaccount: 'getAccount',
        })
    }
};
</script>