<template>
  <div class="customModal" v-if="isVisible">
    <div class="customModalTitle">
      <button class="close" @click.prevent="isVisible = !isVisible">&times;</button>
      New Transaction
    </div>
    <div class="customModalBody">
      <div class="row form-group">
        <div class="col-sm-12">
          <md-autocomplete v-model="selectedCorrespondent" :md-options="pwaccounts">
            <label>Correspondent</label>
            <template slot="md-autocomplete-item" slot-scope="{ item }">{{ item.user }}</template>
          </md-autocomplete>
          <div v-show="correspondentError" class="invalid-feedback">Account is required</div>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-sm-12">
          <md-field>
            <label>Amount</label>
            <span class="md-prefix">$</span>
            <md-input v-model="amount"></md-input>
          </md-field>
          <div v-show="amountError" class="invalid-feedback">Amount is required</div>
        </div>
      </div>
    </div>
    <div class="customModalFooter text-right">
      <button class="btn btn-primary" @click.prevent="send()">Send</button>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
  name: 'TransactionModal',
  props: ['isVisible'],
  data () {
      return {
        correspondents: [],
        selectedCorrespondent: null,
        amount: 0,
        correspondentError: true,
        amountError: false
      }
  },
  computed: {
        ...mapState({
            pwaccount: state => state.pwaccount.pwaccount,
            pwaccounts: state => state.pwaccount.all
        })
    },
    created () {
        this.getAccounts();
    },
  methods: {
    send(event) {
      var transaction = {
        creditorId: this.pwaccount.id,
        debitorId: this.selectedCorrespondent,
        amount: this.amount
      };

      this.$parent.$emit('SendTransaction', transaction);
    },
    ...mapActions('pwaccount', {
            getAccounts: 'getAllAccounts',
        }),
      getCorrespondents () {
        this.correspondents = new Promise(resolve => {
          window.setTimeout(() => {
            resolve(this.pwaccount)
          }, 500)
        })
      }
  },
};
</script>

<style scoped>
  .customModal {
  box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.4);
  left: calc(50vw - 300px);
  position: absolute;
  z-index: 999;
  width: 600px;
  top: 20vh;
  border-radius: 5px;
  overflow: hidden;
}
.customModal .customModalTitle {
  background-color: #eee;
  text-align: left;
  padding: 8px 12px;
  font-size: 1.5em;
}
.customModal .customModalTitle .close {
  line-height: 32px;
  color: #5c4084;
}
.customModal .customModalBody {
  background-color: #fff;
  padding: 8px 12px;
  text-align: left;
  padding: 12px;
}
.customModal .customModalFooter {
  background-color: #eee;
  padding: 4px 12px;
  text-align: left;
}

.form-group {
        margin-bottom: 5px;
}
</style>