<template>
  <div>
    <div class="row form-group">
        <div class="col-sm-6">
            <h4>Transactions</h4>
        </div>
        <div class="col-sm-6 text-right">
            <button type="button" class="btn btn-primary btn-sm" @click.prevent="isModalVisible = !isModalVisible">New transaction</button>
        </div>
    </div>
    <transaction-modal :isVisible="isModalVisible"></transaction-modal>
    <div class="row form-group">
        <SortedTable :values="transactions">
        <thead>
            <tr>
            <th scope="col" style="text-align: left; width: 5rem;">
                <SortLink name="id">ID</SortLink>
            </th>
            <th scope="col" style="text-align: left; width: 12rem;">
                <SortLink name="created">Date</SortLink>
            </th>
            <th scope="col" style="text-align: left; width: 12rem;">
                <SortLink name="creditor">Creditor</SortLink>
            </th>
            <th scope="col" style="text-align: left; width: 12rem;">
                <SortLink name="debitor">Debitor</SortLink>
            </th>
            <th scope="col" style="text-align: left; width: 5rem;">
                <SortLink name="amount">Amount</SortLink>
            </th>
            </tr>
        </thead>
        <tbody slot="body" slot-scope="sort">
            <tr v-for="value in sort.values" :key="value.id">
                <td>{{ value.id }}</td>
                <td>{{ $moment(value.created).format('MMMM Do YYYY, h:mm A') }}</td>
                <td>{{ value.creditor }}</td>
                <td>{{ value.debitor }}</td>
                <td>{{ value.amount.toFixed(2) }}</td>
            </tr>
        </tbody>
        </SortedTable>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
  name: "TransactionTable",
  data () {
      return {
        isModalVisible: false
      };
    },
  computed: {
        ...mapState({
            transactions: state => state.transactions.transactions.items,
            pwaccount: state => state.pwaccount,
        })
    },
    created () {
        this.$on('SendTransaction', transaction => {
            this.isModalVisible = false;
            this.addTransaction(transaction);
        });

        this.getAllTransactions();
    },
    methods: {
        ...mapActions('transactions', {
            getAllTransactions: 'getAllTransaction',
            addTransaction: 'addTransaction',
        }),
        showModal() {
            this.isModalVisible = true;
        },
    }
}
</script>

<style scoped>
.form-group {
        margin-bottom: 5px;
}
</style>